In [1]:
# WORKING WITH lIST AND FUNCTIONS

In [3]:
def times2(var):
    return var*2

In [4]:
times2(5)

10

In [5]:
#using map()

In [12]:
seq=[1,2,3,4,5]

In [9]:
map(times2,seq)

In [13]:
list (map(times2,seq))

[2, 4, 6, 8, 10]

In [14]:
#lamda expresion

In [16]:
t= lambda var:var*2

In [17]:
t(9)

18

In [19]:
list (map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [20]:
#filter out elements from a sequence

In [21]:
list(filter(lambda num: num%2 ==0, seq))

[2, 4]

In [22]:
#methods

In [23]:
s= 'hello my name is Zahid'

In [24]:
s.lower()

'hello my name is zahid'

In [25]:
s.upper()

'HELLO MY NAME IS ZAHID'

In [26]:
#split method

In [27]:
s.split()

['hello', 'my', 'name', 'is', 'Zahid']

In [28]:
tweet = 'Go Sports! #Sports'

In [29]:
tweet.split('#')[1]

'Sports'

In [30]:
#keys

In [31]:
d={'k1':1, 'k2':2}

In [38]:
d

{'k1': 1, 'k2': 2}

In [37]:
d.keys()

dict_keys(['k1', 'k2'])

In [ ]:
#items

In [39]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [ ]:
#values

In [35]:
d.values()

dict_values([1, 2])

In [40]:
#last item on list

In [59]:
lst=[1,2,3,4,5,6]

In [ ]:
# note pop removes item from list

In [54]:
lst.pop()

4

In [56]:
item= lst.pop()

In [57]:
item

6

In [58]:
lst

[1, 2, 3, 4, 5]

In [60]:
first=lst.pop(0)

In [62]:
#append (9)

In [63]:
lst.append(9)

In [65]:
lst

[2, 3, 4, 5, 6, 9]

In [66]:
#tuples

In [67]:
'x' in [1,2,3]

False

In [70]:
'x' in ['x','y','z']

True

In [71]:
#grabing items

In [72]:
x=[(1,2),(3,4),(5,6)]

In [74]:
for (a,b) in x:
    print(b)

2
4
6